@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

$buttonSize: 60px;
$minHeight: 400px;

body {
      width: 80%;
      height: 100vh;
      margin: 0 auto;

      header {
            h1 {
                  padding-top: 50px;
                  text-align: center;
                  font-size: 40px;
            }
      }
      section.playing-section {
            min-height: $minHeight;
            height: 60%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            article#draw {
                  width: 40%;
                  min-height: $minHeight;
                  height: 100%;
                  margin-bottom: 50px;

                  img {
                        width: 300px;
                        height: auto;

                        position: absolute;
                        top: 100px;
                        left: 100px;
                  }
            }
            article#word {
                  width: 60%;
                  min-height: $minHeight;
                  height: 100%;
                  text-align: center;
                  padding: 200px 0 0 0;

                  div.letters {
                        display: inline-block;
                        text-align: center;
                        content: " ";
                        border-bottom: 1px solid black;
                        width: 50px;
                        height: 50px;
                        margin: 0 15px;
                        font-size: 30px;
                  }
            }
      }

      section.buttons-container {
            height: 200px;
            padding-top: 50px;
            padding-bottom: 50px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            div {
                  width: $buttonSize;
                  height: $buttonSize;
                  margin: 15px;

                  background-color: rgba($color: #ccc, $alpha: 0.8);
                  border: 2px solid black;
                  border-radius: $buttonSize;

                  font-size: 40px;
                  font-weight: bold;

                  display: flex;
                  justify-content: center;
                  align-items: center;
                  
                  cursor: pointer;

                  transition: all .3s;
            }

            div:not(.success):not(.failed):hover {
                  transform: scale(1.2);
                  background-color: rgba($color: #fff, $alpha: 0.8);
                  border: 2px solid red;
                  color: red;
            }

            div.success {
                  background-color: rgba($color: green, $alpha: 0.1);
                  border: 2px solid green;
                  color: green;
                  cursor: not-allowed;
                  
            }

            div.failed {
                  opacity: 0.3;
                  cursor: not-allowed;
            }

      }
      
      .hidden {
            display: none;
      }

      .not-displayed { //only for W3C
            display: none;
      }

      @media only screen and (max-width: 1000px) {
            section.playing-section {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  min-height: 80px;
                  height: auto;
      
                  article#draw {
                        width: 100%;
      
                        img {
                              width: 400px;
                              height: auto;
      
                              position: absolute;
                              top: 100px;
                              left: 50%;
                              transform: translateX(-50%);
                        }
                  }
                  article#word {
                        min-height: 80px;
                        height: max-content;
                        width: 100%;
                        text-align: center;
                        padding: 20px;
                  }
            }

            section.buttons-container {
      
                  div {
                        width: $buttonSize + 5;
                        height: $buttonSize + 5;
                        margin: 5px;
                  }
            }
      }

      @media only screen and (max-width: 500px) {
            section.playing-section {
                  article#draw {
                        img {
                              width: 90%;
                              height: auto;
                        }
                  }
            }
      }
}